body{
	font-family: 'Changa', sans-serif; 
	color: #333;
	font-size: 1.3rem;
	margin: 0;
}

label{
	font-family: 'Changa', sans-serif;
	font-size: 14px;
	float: left;
}

.container{
	width: 85%;
	max-width: 850px;
	margin: 0 auto;
}

/*-- Cabecera de la aplicacion --*/
.header{
	background: #CFAAF3;
	color: black;
	padding: 2rem 0;
}

.logo{
	font-size: 0.8em;
	text-align: center;
}
/*-- Fin cabecera de la aplicacion --*/

.container-ini-reg{
	display: flex;
	width: 100%;
	/*justify-content: space-between;*/
}

/*-- Login --*/
.login_page{
	width: 100%;
	padding: 8% 0 0;
	margin: auto;
}

.form{
	position: relative;
	z-index: 1;
	background: #CFAAF3;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	line-height: 1.5em;
	text-align: center;
}

.form input {
  	font-family: 'Changa', sans-serif; 
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: none;
	border-bottom: 2px solid #CFAAF3;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.btn-login {
    font-family: 'Changa', sans-serif;
    outline: 0;
    background: #FFF;
    width: 50%;
    padding: 10px;
    color: #000;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 25px;
    border: 2px solid #FFF;
} 

.btn-login:hover,.btn-login:active,.btn-login:focus {
    background: #CFAAF3;
}
/*-- botones para login_nutriologos --*/
.div-buttons{
	display: flex;

}

.btn-accept {
    font-family: 'Changa', sans-serif;
    outline: 0;
    background: #FFF;
    width: 50%;
    padding: 10px;
    color: #000;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 25px;
    border: 2px solid #FFF;
    justify-content: flex-start;
} 

.btn-accept:hover,.btn-accept:active,.btn-accept:focus {
    background: #CFAAF3;
}

.btn-cancel {
    font-family: 'Changa', sans-serif;
    outline: 0;
    background: #FFF;
    width: 50%;
    padding: 10px;
    color: #000;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 25px;
    border: 2px solid #FFF;
    justify-content: flex-end;
} 

.btn-cancel:hover,.btn-cancel:active,.btn-cancel:focus {
    background: #CFAAF3;
}

/*-- fin botones para login_nutriologos --*/

.form .register-form {
    display: none;
}

.tittle{
	font-size: 18px;
	text-align: center;
}
/*-- Fin Login --*/