.div-hc{
	width: 920px;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	padding: 62px 55px 90px 55px;
	margin: 0 auto;
	display: flex;
}

.tabla-bio-qui{
	justify-content: space-between;
}