/*-- ag_pacientes --*/
.btn{
  font-family: 'Changa', sans-serif;
  outline: 0;
  background: #FFF;
  width: 50%;
  padding: 15px;
  color: #000;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 25px;
  border: 2px solid #CFAAF3;
  justify-content: space-between;
}

.btn:hover,.btn:active,.btn:focus{
	background: #CFAAF3;
}

/*-- ac_pacientes --*/

.btn-buscar{
  font-family: 'Changa', sans-serif;
  outline: 0;
  background: #FFF;
  width: 20%;
  padding: 15px;
  color: #000;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 25px;
  border: 2px solid #CFAAF3;
  justify-content: space-between;
}

.btn-buscar:hover,.btn-buscar:active,.btn-buscar:focus{
  background: #CFAAF3;
}

/*-- bo_pacientes --*/


/*-- co_pacientes --*/

