.form2{
    position: relative;
    z-index: 1;
    background: #CFAAF3;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    line-height: 1.5em;
    text-align: center;
}

.form2 input {
    font-family: 'Changa', sans-serif; 
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: none;
    border-bottom: 2px solid #CFAAF3;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.login-form2{
    display: flex;
    justify-content: space-between;
}

/*-- Formulario Registro --*/
.register_page{
	width: 100%;
	padding: 8% 0 0;
	margin: auto;
	display: flex;
}

.btn-register > button {
    font-family: 'Changa', sans-serif;
    outline: 0;
    background: #FFF;
    width: 50%;
    padding: 15px;
    color: #000;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 25px;
    border: 2px solid #FFF;
    justify-content: space-between;
} 

.btn-register:hover,.btn-register:active,.btn-register:focus {
    background: #CFAAF3;
}

/*-- Fin formulario registro --*/