/*-- ag_pacientes --*/
.btn{
  font-family: 'Changa', sans-serif;
  outline: 0;
  background: #FFF;
  width: 50%;
  padding: 15px;
  color: #000;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 25px;
  border: 2px solid #CFAAF3;
  justify-content: space-between;
}

.btn:hover,.btn:active,.btn:focus{
  background: #CFAAF3;
}

/*-- ac_pacientes --*/

.btn-buscar{
  font-family: 'Changa', sans-serif;
  outline: 0;
  background: #FFF;
  width: 20%;
  padding: 15px;
  color: #000;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 25px;
  border: 2px solid #CFAAF3;
  justify-content: space-between;
}

.btn-buscar:hover,.btn-buscar:active,.btn-buscar:focus{
  background: #CFAAF3;
}

/*-- bo_pacientes --*/


/*-- co_pacientes --*/
.tabla-consulta{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.tabla-td-th{
  font-family: 'Changa', sans-serif;
  text-align: left;
  width: 90%;
  padding: 5px;
  font-size: 0.8em;
  margin: 0 auto;
}

.tabla-tr:nth-child(even){
  background-color: #CFAAF3;
}